!!! 5
%head
  %title Treebook
  = stylesheet_link_tag  "application", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag "application", "data-turbolinks-track" => true
  = csrf_meta_tags

%body
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        = link_to "Treebook", statuses_path, :class => "brand"
        %ul.nav

        %ul.nav.pull-right
          - if user_signed_in?
            %li=link_to current_user.full_name, edit_user_registration_path
            %li=link_to "Log Out", destroy_user_session_path, :method => :delete
          - else
            %li=link_to "Register", new_user_registration_path
            %li=link_to "Login", new_user_session_path
  .container
    - flash.each do |type, message| 
      .alert{:class => flash_class(type)}
        %button.close{ "data-dismiss" => "alert"} x
        = message
    = yield