!!! 5
%head
  %title Treebook
  = stylesheet_link_tag  "application", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag "application", "data-turbolinks-track" => true
  = csrf_meta_tags
  .container
    %p.notice
      = notice
    %p.alert 
      = alert
    .navbar.navbar-fixed-top
      .navbar-inner
        = link_to "Treebook", statuses_path, :class => "brand"



    = yield